<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <parameter name="a" value="1"/>
    <parameter name="b" value="2"/>
    <test name="Testing with parameters">
        <classes>
            <class name= "ParametersTest"/>
        </classes>
    </test>
</suite>